<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">
    <h1 class="main-menu">List of tasks</h1>

    <table>
        <tr>
            <th>Type</th>
            <th>ID</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>End Time</th>
            <th>Location</th>
            <th>Delete task</th>
            <th>Update task</th>
        </tr>
        <tr th:each="task : ${allTasks}">
            <th th:text="${task.type}">TYPE</th>
            <th th:text="${task.id}">ID</th>
            <th th:text="${task.name}">NAME</th>
            <th th:text="${task.startTime}">STARTTIME</th>
            <th th:text="${task.duration}">DURATION</th>
            <th th:text="${task.endTime}">ENDTIME</th>
            <th th:text="${task.location}">LOCATION</th>
            <th><a th:href="@{/task/delete/{id} (id=${task.id})}" th:text="#{task.delete}">DELETE</a></th>
            <th><a th:href="@{/task/update/{id}/{type} (id=${task.id}, type=${task.type})}" th:text="#{task.update}">UPDATE</a></th>
        </tr>
    </table>

    <div class="menu-button">
        <a th:href="@{/}" th:text="#{home.back}">Back to Main Menu</a>
    </div>

</div>
</body>
</html>