<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">
    <h1 class="main-menu">List of tasks</h1>

    <table>
        <tr>
            <th>Type</th>
            <th>ID</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>End Time</th>
            <th>Location</th>
        </tr>
        <tr th:each="task : ${allTasks}">
            <th th:text="${task.type}">TYPE</th>
            <th th:text="${task.id}">ID</th>
            <th th:text="${task.name}">NAME</th>
            <th th:text="${task.startTime}">STARTTIME</th>
            <th th:text="${task.duration}">DURATION</th>
            <th th:text="${task.endTime}">ENDTIME</th>
            <th th:text="${task.location}">LOCATION</th>
        </tr>
    </table>

    <div class="menu-button">
        <a th:href="@{/task/viewTasks/{sort} (sort='id')}" th:text="#{home.sortID}">Sort tasks by ID</a>
        <a th:href="@{/task/viewTasks/{sort} (sort='name')}" th:text="#{home.sortName}">Sort tasks by Name</a>
        <a th:href="@{/task/viewTasks/{sort} (sort='time')}" th:text="#{home.sortTime}">Sort tasks by Time</a>
      <!--  <a th:href="@{/task/viewTasks/{id} (id='id')" th:text="#{home.sortID}">Sort tasks by ID</a>
        <a th:href="@{/task/viewTasks/{name} (name='name')" th:text="#{home.sortName}">Sort tasks by Name</a> -->
    </div>

    <div class="menu-button">
        <a th:href="@{/}" th:text="#{home.back}">Back to Main Menu</a>
    </div>

</div>
</body>
</html>