<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">

    <div class="main-menu"><h2>Task was successfully added</h2>
        <div class="menu-button">
            <a th:href="@{/task/new/}" th:text="#{home.addAnother}">Add another task</a>
        </div>
        <div class="menu-button">
            <a th:href="@{/}" th:text="#{home.back}">Back to Main Menu</a>
        </div>
    </div>

</div>
</body>
</html>